body{
    background-color: plum;
    margin: 0px;
    padding:0px;
}

.float-left{
    float: left;
    width: 1000px;
    margin-right: 100 px;
}

.home{
    float:middle;
    
}


p{
    position:left;
    width: 500

}

.box-1{
    top: 10px;
    left:10px
}

footer{
    color: purple;
    height: 10%;
}
.continer1{
    width: 10px;  
    height: 50px;  
    text-align: center;  
    padding-bottom: 100%; 
    color: pink;

}